-e .
black==19.3b0
coverage==5.1
mypy==0.761; python_version < '3.8' and python_implementation != 'PyPy'
prospector==1.2.0; python_version < '3.8' and python_implementation != 'PyPy'
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
sphinx_rtd_theme==0.4.3
tox==3.15.2
