-e .
black==19.10b0
coverage==4.5.4
mypy==0.740; python_version < '3.8' and python_implementation != 'PyPy'
prospector==1.1.7 ; python_version < '3.8' and python_implementation != 'PyPy'
pytest==5.2.2
pytest-cov==2.8.1
pytest-django==3.7.0
sphinx_rtd_theme==0.4.3
tox==3.14.0
